.h2 {
    font-size: .9rem;
}

/*Navbar CSS*/
/*Navbar CSS*/
/*Navbar CSS*/

    .navbar {
        z-index: 3;
        background-color: #03192F;
        border-bottom: 2px solid rgba(100, 100,100, .5)
    }
    body 
    {
        background-color: #03192F;
    }

    .nav-img
    {
        padding-bottom: 5px;
    }

        li
        {
            font-size:20px;
        }

/*Landing Video CSS*/
/*Landing Video CSS*/
/*Landing Video CSS*/

    .showcase {
        position: relative;
        top: -15px;
        right: 0;
        width: 100%;
        min-height: 95vh;
        padding: 1em;
        display: flex;
        align-items: center;
        background: #111;
        transition: all 0.3s ease;
        z-index: 2;
    }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #78c3fb;
            mix-blend-mode: overlay;
        }

    .overlay-text {
        color: white;
        z-index: 3;
        align-content: center;
        width: 100%;
    }

    .overlay-text-container
    {
        width:50%;
    }

    .overlay-name {
        color: #2D9CCA;
    }

        .showcase video {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            color: gray;
            opacity: 0.50;
        }

        .social-mobile {
            position: absolute;
            z-index: 10;
            bottom: 1.25em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            margin-bottom: 30px;
        }
    
        .social
        {
            display:none;
        }

/*About Me CSS*/
/*About Me CSS*/
/*About Me CSS*/

    .headshot {
        width: 100%;
   
    }

    .aboutme-divider {
        border-left: 0px solid gray;
        padding-left: 30px;
        border-top: 1px solid gray;
    }

/*My Skills CSS*/
/*My Skills CSS*/
/*My Skills CSS*/

    .progress {
        background-color: #0F2E4E;
    }

    .progress-bar {
        background-color: #2D9CCA;
    }

/*My Projects CSS*/
/*My Projects CSS*/
/*My Projects CSS*/

    div.project-image 
    {
        width: 100%;
        padding-top: 100%; /* 1:1 Aspect Ratio */
        position: relative; /* If you want text inside of it */
    }

        img.project-image 
        {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

div.project-overlay {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 60%;
    top: 40%;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(13, 49, 85); /* Fallback for older browsers without RGBA-support */
    background: rgba(13, 49, 85, 1);
}

        div.project-text-container {
            margin-left: 1vw;
            margin-right: .5vw;
        }

            div.project-title {
                font-size: 1.5rem;
                color: white;
                font-weight: bold;
                margin-bottom: -1.3vw;
            }

            div.project-content {
                font-size: 1rem;
                color: white;
                margin-top: 1vw;
            }

        img.project-icon-01 {
            height: 6vw;
            width: 6vw;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        img.project-icon-02 {
            height: 6vw;
            width: 6vw;
            position: absolute;
            bottom: 0;
            left: 8vw;
        }

        img.project-icon-03 {
            height: 6vw;
            width: 6vw;
            position: absolute;
            bottom: 0;
            left: 16vw;
        }

        img.project-icon-04 {
            height: 6vw;
            width: 6vw;
            position: absolute;
            bottom: 0;
            left: 24vw;
        }

        img.project-icon-04 {
            height: 6vw;
            width: 6vw;
            position: absolute;
            bottom: 0;
            left: 32vw;
        }

input {
    background-color: #0D3155;
    color: lightgray;
}

    a.project-link {
        text-decoration: none;
        color: inherit;
    }

        div.project-link {
            background-color: black;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
            background: rgba(50, 50, 50, 0.0);
            color: rgba(255, 255, 255, 0.0);
        }

        div.project-link:hover {
            background-color: black;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
            background: rgba(50, 50, 50, 0.5);
            color: rgba(255, 255, 255, 1.0);
            opacity: 1;
            transition: opacity 1s;
        }

        div.project-link-text 
        {
            font-size: 2rem;
            text-align: center;
            font-weight: bold;
            top: 50%;
            width: 100%;
            position: absolute;
        }

    div.project-image-header {
        position: relative;
        width: 100%;
        padding-top: 20.25%; /* 16:9 Aspect Ratio */
        overflow:hidden;
    }

    img.project-image-header {
        position: absolute;
        width: 100%;
   
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

/*Image Carasousel*/
/*Image Carasousel*/
/*Image Carasousel*/


  

/*Dynamic Sizes*/
/*Dynamic Sizes*/
/*Dynamic Sizes*/

    @media (min-width: 375px) {
        .h2 {
            font-size: 1rem;
        }
    }

    @media (min-width: 576px) {
        .h2 {
            font-size: 1.5rem;
        }
        .h2 {
            font-size: 2rem;
        }

        div.project-title {
            font-size: 3rem;
        }

        div.project-content {
            font-size: 2rem;
        }

        img.project-icon-01 {
            height: 6vw;
            width: 6vw;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        img.project-icon-02 {
            height: 6vw;
            width: 6vw;
            position: absolute;
            bottom: 0;
            left: 8vw;
        }

        img.project-icon-03 {
            height: 6vw;
            width: 6vw;
            position: absolute;
            bottom: 0;
            left: 16vw;
        }

        img.project-icon-04 {
            height: 6vw;
            width: 6vw;
            position: absolute;
            bottom: 0;
            left: 24vw;
        }

        img.project-icon-05 {
            height: 6vw;
            width: 6vw;
            position: absolute;
            bottom: 0;
            left: 32vw;
        }

    }

    @media (min-width: 768px) {
        .h2 {
            font-size: 2rem;
        }
        div.project-title {
            font-size: 1rem;
        }

        div.project-content {
            font-size: .7rem;
        }

        img.project-icon-01 {
            height: 2vw;
            width: 2vw;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        img.project-icon-02 {
            height: 2vw;
            width: 2vw;
            position: absolute;
            bottom: 0;
            left: 4vw;
        }

        img.project-icon-03 {
            height: 2vw;
            width: 2vw;
            position: absolute;
            bottom: 0;
            left: 8vw;
        }

        img.project-icon-04 {
            height: 2vw;
            width: 2vw;
            position: absolute;
            bottom: 0;
            left: 12vw;
        }

        img.project-icon-05 {
            height: 2vw;
            width: 2vw;
            position: absolute;
            bottom: 0;
            left: 16vw;
        }
    }

    @media (min-width: 992px) {
        .h2 {
            font-size: 2.5rem;
        }

        hr {
            margin-top: -5px;
        }

        .showcase {
            top: -5px;
        }

        .social-mobile {
            display: none;
        }

        .social {
            display: inherit;
        }

        .aboutme-divider {
            border-left: 1px solid gray;
            padding-left: 30px;
            border-top: 0px solid gray;
        }

        div.project-title {
            font-size: 1.5rem;
        }

        div.project-content{
            font-size: 1rem;
        }

        img.project-icon-01 {
            height: 2vw;
            width: 2vw;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        img.project-icon-02 {
            height: 2vw;
            width: 2vw;
            position: absolute;
            bottom: 0;
            left: 4vw;
        }

        img.project-icon-03 {
            height: 2vw;
            width: 2vw;
            position: absolute;
            bottom: 0;
            left: 8vw;
        }

        img.project-icon-04 {
            height: 2vw;
            width: 2vw;
            position: absolute;
            bottom: 0;
            left: 12vw;
        }

        img.project-icon-05 {
            height: 2vw;
            width: 2vw;
            position: absolute;
            bottom: 0;
            left: 16vw;
        }
    }

@media (min-width: 1200px) {


    div.project-title {
        font-size: 1.5rem;
    }

    div.project-content {
        font-size: 1.3rem;
    }
}

@media (min-width: 1400px) {
  

    div.project-title {
        font-size: 1.5rem;
    }

    div.project-content {
        font-size: 1.5rem;
    }

   
}











































    



